certifi
cffi
cryptography
Django
enum34
idna
ipaddress
ndg-httpsclient
numpy
Pillow
pyasn1
pycparser
pyOpenSSL
redis
requests[security]
six
urllib3
uWSGI
django-redis
git+https://github.com/syrusakbary/pyjade.git
raven
